<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Soliman Shahin">
    <title>
        <%=title%>
    </title>

    <!-- Custom styles -->
    <link rel="stylesheet" href="/css/HomeStyle.css" type="text/css">
    <link rel="stylesheet" href="/css/sb-admin.css" type="text/css">
    <link rel="stylesheet" href="/css/sb-admin.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Custom style for icon-->
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts-->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">


</head>

<body class="fixed-nav sticky-footer" id="body">